/* Fontes do Site */
@font-face {
    font-family: 'BMW Group';
    src: url('fonts/BMWGroup-Regular.woff2') format('woff2'),
        url('fonts/BMWGroup-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMW Group';
    src: url('fonts/BMWGroup-Bold.woff2') format('woff2'),
        url('fonts/BMWGroup-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}